*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{

width: 100%;
margin: 0px;
padding: 0px;
display: flex;
flex-direction: column;
justify-content: center;

}

nav .menu {
    /*Cor Azul padrão para barra nav : #0B5294*/
    background-color: #0B5294;
    display: flex;
    align-items: self-end;
    justify-content: flex-end;
    width: 100%;
    height: 300px;
    padding: 0 20px;
}

nav #logo {
    height: 300px;
    width: auto;
    padding: 10px;
    margin-right: auto;
    margin-left: 30px;

}

nav .menu .item {
    display: flex;
    align-items: baseline;
    font-size: 30px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding: 5px 20px;
    margin-right: 10px;
    margin-bottom: 40px;
    text-decoration: none;
    flex-wrap: nowrap;
}

 nav .menu a:hover{
    color: white;
} 



header .banner{

    margin-bottom: 200px;
    margin-top: 100px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    align-items: center;
    font-size: 60px;
}
header .banner p{
    font-size: 30px;

}
header .banner #cadastroHeader{
    border-radius: 30px;
    background-color: #0B5294;
    color: black;
    padding: 20px 30px 20px 30px;
    margin-top: 100px;
    
}
  header .banner #cadastroHeader:hover{
    color: white;
    background-color: #09447a;
}

main .conteudo{

    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

}

main .topicos{

    display: flex;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 10px;
    padding-top: 20px;
    padding-bottom: 20px;

}

main .topicos .titulos{
    display: flex;
    justify-content:space-around;
    align-items: self-start;
    align-content: center;
    flex-direction:row;
    flex-wrap: nowrap;
    width: fit-content;
    font-size: 30px;
    width: 100%;
    text-align: justify;


}

main .topicos .paragrafos{

    display: flex;
    justify-content: space-;
    flex-direction: row;
    align-content: space-around;
    flex-wrap: nowrap;
    text-align: justify;


}

main .topicos .paragrafosInterno{

    margin: 30px 180px 30px 100px;
    padding: 30px;
    font-size: 25px;
    text-align: justify;

}

footer{
    background-color: #09447a;
    color: white;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: self-start;
    padding: 30px;
    font-size: 20px;
    width: 100%;

}







/* Pagina CONTATOS*/

header .headerContato{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding: 50px;
}
header .headerContato h1{
    font-size: 50px;
    margin: 10px;
}

header .headerContato p{
    text-align: justify;
    padding: 10px;
    font-size: 30px;
}


main .contatos{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    align-content: center;


    font-style: italic;
    font-size: 30px;
    padding: 20px;
    margin-bottom: 5%;
}

main .contatos p{
    margin: 20px;
}
main .contatos a{
    color: blue;
    text-decoration: underline;
}
main .contatos a:hover{
    color: rgb(113, 25, 255);
}
main .contatos a:visited{
    color: rgb(68, 0, 177);
}


/* Página LOGIN*/

header .headerLogin{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
}

main .mainLogin{

    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    margin-bottom: 10%;
}
main form{
    padding: 60px;
    border-radius: 40px;
    margin: 30px;
    font-size: 30px;
    background-color: #09447a;

}
.field{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 5px;

}
.field label{
    font-size: 40px;
}
.field input{
    font-size: 20px;
    border: none;
    border-radius: 8px;  
    text-align: center;
    height: 40px;
    margin: 10px;
    width: 400px;

}

form .botao{
    display: inline-block;
    border-radius: 10px;
    padding: 5px 10px 5px 10px;
    font-size: 30px;
    font-weight: 600;
    margin: 20px;
    color: #031729;
    background-color: #81C2FF;     /*Cor para botao: #81C2FF*/
}

form .botao a{
    text-decoration: none;
    color: #031729;
}

/*Página CADASTRO*/

header .headerCadastro{
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px;
}
main .mainCadastro{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;

    margin-bottom: 5px;
}
.field select{
    font-size: 20px;
    border: none;
    border-radius: 8px;  
    text-align: center;
    height: 40px;
    margin: 5px;
    width: 200px;
}
