body{
    margin: 0;
}
.header{
        background-color: #009DAC;
        display: flex;        
        align-items: center;
        flex-direction: row;
        justify-content: end;
        height: 70px;  
        
}
.header img{
    width: 60px;
    height: auto;
    margin-right: auto;
}

.header a{
    display: inline-block;
    text-decoration: none;
    color: white;
    padding: 5px 20px;
    border: 1px solid;
    border-radius: 15px;
    vertical-align: bottom; 
    text-align: center; 
}

.header a:hover{
    background-color: white;
    color: orangered;
}

.corpo{
    display: flex;
    background-color: black;
    width:100%;
    min-height: 100vh;
    margin: 0;
}
.texto {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.corpo h1{
    color: orangered;
    font-family: Arial, Helvetica, sans-serif;
    width: 50%;
    padding: 0px 20px;
    margin-top: 20px;
}

.corpo p{
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    text-align: justify;
    width: 50%;
    height: auto;
    padding: 5px 20px;
    margin-top: 0;
}
.imagecorpo {
    width: 400px; 
    height: auto; 
    margin-left: 20px; 
    align-self: center; 
    order: 2;
}

fieldset{
    background-color: orangered;
    border: 1px solid white;
    border-radius: 10px;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    margin-top: 100px;
}

fieldset h2{
    color: white;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
   }
form input{
    margin-top: 5px;
    border: 1px solid black;
    border-radius: 10px;
    height: 30px;
}
form [type="submit"]{
    height: 40px;
    width: 80px;
    background-color:white;
    color: orangered;
    margin: 10px auto;
}
form [type="submit"]:hover{
    background-color: black;
    color: orangered;
}
