

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{

width: 100%;
margin: 0px;
padding: 0px;
display: flex;
flex-direction: column;
justify-content: center;

}

nav .menu {
    /*Cor Azul padrão para barra nav : #0B5294*/
    background-color: #0B5294;
    display: flex;
    align-items: self-end;
    justify-content: flex-end;
    width: 100%;
    height: 100px;
    padding: 0 20px;
}

nav #logo {
    height: 100px;
    width: auto;
    padding: 10px;
    margin-right: auto;
    margin-left: 30px;

}

nav .menu .item {
    display: flex;
    align-items: baseline;
    font-size: 20px;
    font-weight: 600;
    color: rgb(0, 0, 0);
    padding: 5px 20px;
    margin-right: 10px;
    margin-bottom: 10px;
    text-decoration: none;
    flex-wrap: nowrap;
}

 nav .menu a:hover{
    color: white;
} 




/*Página SOBRE*/

header .headerSobre{

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: nowrap;
    padding: 50px;
    
}
header .headerSobre h1{
    font-size: 2.3em;
    margin: 30px;
}
header .headerSobre p{

    text-align: justify;
    padding: 20px;
    font-size: 1.3em;
    width: 60%;
}

main .conteudo{

    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    
    font-size: 1.3em;
    margin: 5px;
}
main h2{
    margin: 20px 50px 20px 50px;
    padding: 10px;
    font-size: 2.3em;

}
main .conteudo .texto{


    display: flex;
    flex-direction:column;
    flex-wrap: wrap;
    text-align: justify;
    width: 600px;
    margin: 20px;
}
main .conteudo .texto h3{
    margin: 5px;
}


main .conteudo img{
    width: 500px;
    height: 500px;
    margin: 100px;

    display: flex;
    justify-content: center;
    align-items: center;
}



    footer{
        background-color: #09447a;
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: row;
        align-items: self-start;
        padding: 20px;
        font-size: 11px;
        width: 100%;
    
    }